{% extends "base.html" %}
{% block body %}
<center>
<form action='/accounts/auth/' method='POST'> {% csrf_token %}
    <div style="padding:10px; background-color: #123456; color: #909090; width:200px;">
        <label for='username'> Username </label>
        <input type='text' name='Username' id='username'> <br>
        <label for='password'>Password </label>
        <input type='password' name='Password' id='password'><br><br>
        <input type='submit' value='LOGIN'>
    </div>
</form>
{% endblock %}
